Id
<input type="text" [(ngModel)]="prodotto.id">
Descrizione
<input type="text" [(ngModel)]="prodotto.descrizione">
Prezzo
<input type="text" [(ngModel)]="prodotto.prezzo">
<hr>
<button (click)="recupera()">Recupera Catalogo</button>
<button (click)="aggiungi()">Aggiungi Prodotto</button>
<button (click)="svuota()">Svuota Catalogo</button>
<table *ngIf="prodotti.length> 0">
  <tr>
    <th>Id</th>
    <th>Descrizione</th>
    <th>Prezzo</th>
    <th>Elimina</th>
  </tr>
  <tr *ngFor="let p of prodotti">
    <td>{{prodotto.id}}</td>
    <td>{{prodotto.desc}}</td>
    <td>{{prodotto.prezzo}}</td>
    <td>
      <button (click)="elimina()">X</button>
    </td>
  </tr>
</table>