<h1>Catalogo Prodotti</h1>
<input type="text" placeholder="Descrizione" [(ngModel)]="prodotto.descrizione">
<input type="number" placeholder="Prezzo" [(ngModel)]="prodotto.prezzo">€
<hr>
<button (click)="aggiungi()">Aggiungi Prodotto</button>
<button (click)="recupera()">Recupera Catalogo</button>
<button (click)="svuota()">Svuota Catalogo</button>
<table *ngIf="prodotti.length> 0" id="tabella">
  <tr>
    <th>Id</th>
    <th>Descrizione</th>
    <th>Prezzo(€)</th>
    <th>Elimina</th>
  </tr>
  <tr *ngFor="let p of prodotti">
    <td>{{p.id}}</td>
    <td>{{p.descrizione}}</td>
    <td>{{p.prezzo}}</td>
    <td>
      <button (click)="elimina(p)">X</button>
    </td>
  </tr>
</table>